{% extends "prizes/base.html" %}
{% load static %}
{% block content %}
    <style>body { min-width: 848px; }</style>
    <script src="{% static "admin/js/jquery.js" %}"></script>
    <script> <!--
    jQuery(function ($) {
        $("form").submit(function () {
            var body = $("body");
            var y = 0;
            body.css("background-image", "url({% static 'prizes/rainbowbackground.png' %})");
            function step() {
                y -= 2;
                body.css("background-position", "0px " + y + "px");
                setTimeout(step, 20);
            }

            setTimeout(step, 20);
        });
        $("input[type=\"text\"]")
                .focus(function(){
                    $(this).after("<div class=\"kittyroll\"><img src=\"{% static "prizes/Kittyroll.gif" %}\" /></div>" );
                })
                .blur(function(){
                    $(this).next().detach();
                });
    });
    --> </script>
    <title>Please share your most personal details</title>
    <p>The Powers That Be have decided to reward your prowess with a
        <span class="strikethrough">golden shield</span>
        <span class="strikethrough">amulet of protection</span>
        Prequel promotional pin*!
        Please enter sufficient and accurate information
        about you that we may deliver the prize to you using
        <span class="strikethrough">the most expedient method</span> USPS.</p>
    <p>Also, if something goes horribly wrong, you'll need this Secret Winner Code(TM):
        <strong>{{ winner.key }}</strong>. Please purchase
        sufficient magnetized letters to record it on your icebox.</p>
    <hr/>
    <img id="detailsimg" src="{% static "prizes/Prizeimage.gif" %}"/>
    {{ form.non_field_errors }}
    <form method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <br/>
                    <input type="submit" value="Accept my most personal details"/>
                </td>
            </tr>
        </table>
    </form>
    <hr/>
    <p class="mumbo"
       title="Shouldn't Kaz have to legally make people say they're over the age of 13 or 18 or whatever the law is these days? Collecting this information from a minor is against the law, right? --anon">
        The Powers That Be does not knowingly collect information from persons under 13 years. If you are
        one of these persons, you may still have a prize, but you MUST ask a parent or guardian to enter
        their information instead.</p>
    <p class="mumbo">We will only store and use this information for the purpose of delivering your prize. There may be
        an intermediate stage where we laugh at your surname or deride your place of residence, but we promise to do that
        privately and only for a short time. After all complainants are squashed and prizes are delivered, we will
        delete this information, or at least sort the 0s and 1s into different buckets for later re-use.</p>
    <p class="mumbo">* Prequel promotional pin not to be used as a shield or amulet of protection.</p>
{% endblock %}
