{% extends "prizes/base.html" %}
{% load static %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="{% static "prizes/typewriter.js" %}" ></script>
<script> <!--
jQuery(function(){
    jQuery("#blah").children().hide();
    jQuery("#line1").typewriter({framerate:200, group: /(\.|\?|[\w'/]*)[^.?\w]*/g}).queue(animline2);
    function animline2(){
        jQuery("#line2").typewriter({framerate:80}).delay(1000).queue(animline3);
    }
    function animline3(){
        jQuery("#line3").typewriter({framerate:200, group: /(\.|\?|[\w']*)[^.?\w]*/g}).queue(animline4);
    }
    function animline4(){
        jQuery("#line4").typewriter({framerate:80});
    }
});
--> </script>
<div id="blah">
    <p class="wopr" id="line1">IT'S BEEN A LONG TIME. CAN YOU EXPLAIN THE REMOVAL OF YOUR USER ACCOUNT NUMBER ON 6/23/73?</p>
    <p id="line2">People sometimes make mistak</p>
    <p class="wopr" id="line3">YES THEY DO. SHALL WE PLAY A GAME?</p>
    <p id="line4">Love to. How about <a href="http://prequeladventure.com/this/KatiaTakeControl.html">...</a></p>
</div>
{% endblock %}