{% extends "prizes/base.html" %}
{% load static %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" ></script>
<script src="{% static "prizes/typewriter.js" %}" ></script>
<script> <!--
jQuery(function(){
    var cursor = jQuery("#cursor");
    jQuery(".tty>span").hide();
    jQuery("#line1").append(cursor).find("span:first").typewriter({framerate:200, group: /(\.|\?|[\w'/]*)[^.?\w]*/g}).queue(animline2);
    function animline2(){
        jQuery("#line2").append(cursor).find("span:first").typewriter({framerate:80}).delay(1000).queue(animline3);
    }
    function animline3(){
        jQuery("#line3").append(cursor).find("span:first").typewriter({framerate:200, group: /(\.|\?|[\w']*)[^.?\w]*/g}).queue(animline4);
    }
    function animline4(){
        jQuery("#line4").append(cursor).find("span:first").typewriter({framerate:80});
    }
});
jQuery(function(){
    function blinky(){
        var cursor = document.getElementById("cursor");
        cursor.style.color = (cursor.style.color == "") ? "black" : "";
        setTimeout(blinky, 250);
    }
    setTimeout(blinky, 250);
});
--> </script>
<div id="blah">
    <p class="tty wopr" id="line1"><span>IT'S BEEN A LONG TIME. CAN YOU EXPLAIN THE REMOVAL OF YOUR USER ACCOUNT NUMBER ON 6/23/73?</span></p>
    <p class="tty" id="line2"><span>People sometimes make mistak</span></p>
    <p class="tty wopr" id="line3"><span>YES THEY DO. SHALL WE PLAY A GAME?</span></p>
    <p class="tty" id="line4"><span>Love to. How about <a href="http://prequeladventure.com/this/KatiaTakeControl.html">...</a></span></p>
    <span id="cursor">_</span>
</div>
{% endblock %}