{% extends "prizes/base.html" %}
{% load url from future %}
{% load static %}
{% block content %}
    <title>No Cookies!</title>
    <img class="messageimg" src="{% static "prizes/Cookies.gif" %}"/>
    <p>Okay, this might be some kind of shock to you, but this prize-giving thing won't work unless
        cookies are enabled.<p>
    <p>Listen.</p>
    <p>Various governments are already tracking everything you do; cookies are the
        least of your concerns. Please enable cookies --
        or at least select "Block cookies from third parties and advertisers" --
        and then click the following link:</p>
    <p><a href="{% url "prizes.views.check_key" %}?key={{ key }}&time={{ time }}&sign={{ sign }}">The Following Link!</a></p>
    <div class="clear"/>
{% endblock %}
