{% extends "prizes/base.html" %}
{% load url from future %}
{% block content %}
<p>Here are some samples</p>
<p><a href="{% url "prizes.views.check_key" %}?key=f8a852d1de0f4823a3b9130c7dbc0bf9&time=75.3&sign=cf3a9d27ecbfb4ef13f8f76b1ec2e31c1a7f7d2f">Sample 1</a></p>
<p><a href="{% url "prizes.views.check_key" %}?key=908541279f6b4b0ebe273a75d5d20591&time=66.6&sign=438f247d8f55c6db5c7152aa4b1012d83cd341cf">Sample 2</a></p>
<p><a href="{% url "prizes.views.check_key" %}?key=c7db43f10756442a8644e0b8ed9bb4a8&time=50.12345&sign=3d25265e0e64e50e500e8568356c3181c703cb70">Sample 3</a></p>
{% endblock %}