{% extends "prizes/base.html" %}
{% load static %}
{% block content %}
    <title>Thanks!</title>
    <img class="messageimg" src="{% static "prizes/Thanks.gif" %}"/>
    <p>Thanks!</p>
    {% if winner %}
        <p>Again, keep a copy of this key: <strong>{{ winner.key }}</strong>. It's the last you'll see of it. I'm
            erasing my brain and pretending I've never seen you before.</p>
        <p>If you made a typo in your info and need to correct it, you'll have to win the game again. That is your
            punishment for typos.</p>
    {% else %}
        <p>My brain was erased, so I'm not sure what we're thanking you for. You seem nice, though.</p>
    {% endif %}
    <div class="clear"></div>
{% endblock %}
